body
	text-align center
	background black
	//padding: 50px
	background #efefefe;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
h1 
	color white 
#contenedorControles
	background #EBEBEB
	color black
	margin auto 
	box-shadow 1px 1px 20px #ccc
	width 50%
	border 1px solid #ccc
	text-align center 
	padding 0.5em 
	border-radius 10px 
	
	.itemMove2
		//border 1px solid red 
		margin-bottom 1em 
		margin-top 1em 
		padding-top 0.5em 
		padding-bottom  0.5em 
		width 10%
	.itemMove 
		text-align center
		border-left 1px solid #ccc
		margin-left 0em 
		margin-right 0em 
		padding-left 0.5em 
		padding-right 0.5em 
		text-align center
		display  inline-block
		vertical-align  top
		div 
			margin auto 
			padding-bottom 1em 
			
		.tituloOpcion 
			font-size 1.2em 
			margin-bottom 1em 
			display inline-block 
	.itemMove:last-of-type
		background red
		border-left 1px solid green
.automatic
	margin auto 
	border 1px solid black 
	background #ccc
	padding 0.5em 
	width 10em 
	border-radius 10px 
	cursor pointer 
.automatic:hover 
	background white 
